<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jj.lib">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/appthere">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/appthere">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BActvivty" android:theme="@style/act_transparent_appthere"/>
        <activity android:name=".CActvivty" android:theme="@style/white_title_act_transparent_appthere"/>
        <activity android:name=".EActivity"
            android:theme="@style/act_transparent_appthere"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".DActivity" android:theme="@style/act_title_transparent_appthere"/>
    </application>

</manifest>